---
layout:      default
title:       Home
date:        2016-10-01 10:02
---

<section class="page">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-xs-12 col-sm-offset-2">

        <h2 class="text-center">Generera ord med nummer</h2>

        <p>Genererar svenska ord med minst fem bokstäver och tre nummer, som skapas slumpmässigt (endast ett nummer kan förekomma max två gånger). Källkoden finns på <a href="https://gitlab.com/Saucyminator/word-gen" target="_blank">GitLab</a>.</p>

        <p><button id="generate" class="btn btn-primary btn-lg center-block">Generera 30 ord med nummer</button></p>

      </div>
      <div class="col-sm-4 col-xs-12 col-sm-offset-4">

        <pre id="text"></pre>

      </div>
    </div>

  </div>
</section>
